---
currentPage: admission
permalink: admission.html
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admission | Rwandan Coding Academy</title>
    <meta name="author" content="Ahadi Habib Josue">
    <meta name="description" description="To consider the appropriateness of the education provided by our school for each student. We select students who scored higher grades in Mathematics, Physics and English each year.</p> <p>The key criteria in selecting students started in November 2018 and  was based on best score marks and passion to study coding at an early age, according to officials in Ministry of information and Communication Technology.">
    <link rel="icon" type="image/png" href="images/badge.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.3.1/css/all.min.css">
    <link rel="stylesheet" href="fonts/Dosis.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body>
    {% include "header.html" %}
    <div class="banner">
        <div id="admission-showcase">
        </div>
    </div>

<div class="relative-content">


    <div class="admission-section">
        <div class="section-in-width">
            <h1>Admission Policy</h1>
            <div class="ad-border">
            </div>
             
            <div class="ad-section-row">
                    <div class="ad-section-col">
                        <div class="admis">
                          <p>To consider the appropriateness of the education provided by our school for each student. We select students who scored higher grades in Mathematics, Physics and English each year.</p> <p>The key criteria in selecting students started in November 2018 and  was based on best score marks and passion to study coding at an early age, according to officials in Ministry of information and Communication Technology.</p>
                        </div>
                    </div>

                    <div class="ad-section-col">
                      <div class="ad-image-1">
                        <img src="images/admission/image-1.jpg" alt="admission">
                      </div>
                    </div>  
            </div>
 
             <div class="ad-border"></div>
            
            <div class="ad-section-row">
                <div class="ad-section-col">
                    <div class="alone">
                    <p>We welcome visitors throughout the academic year. A visit to RCA allows you to actually experience what the school is all about. Visits are relaxed and involve both meeting with the administration and visiting the classrooms and grounds. </p>
                    </div>
                </div>
            </div>

            <div class="ad-border"></div>

            <div class="registration-section-row">
                 
                <div class="ad-section-col">
                   <div class="ad-image-2">
                     <img src="images/admission/image-2.jpg" alt="admission">
                   </div>
                </div> 
                
                <div class="ad-section-col">
                    <div class="registration">
                    <p>Note: Applying for Rwanda Coding Academy starts each year after completion of Ordinary Level Examinations. When you get selected you will receive a call from the school for further information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

    {% include "footer.html" %}

</body>

</html>
