---
currentPage: contact
permalink: contact.html
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ahadi Habib Josue">
    <title>Contact Us - RCA</title>
    <link rel="icon" type="image/png" href="images/badge.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.3.1/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <style>
        * {
            box-sizing: border-box;
            outline: none;
            font-family: 'Roboto', sans-serif;
        }
        
        body {
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
    {% include "header.html" %}

    <div class="contact-content">
        <div class="contact-wrapper">
	        <h2>Leave a message</h2>
	        <form method="POST" action="#" name="Contacts" netlify>
	            <div class="input-field">
	                <input type="text" name="name" autocomplete="off" spellcheck="false" required>
	                <label>Name</label>
	            </div>
	            <div class="input-field">
	                <input type="email" name="email" autocomplete="off" spellcheck="false" required>
	                <label>Email</label>
	            </div>
	            <div class="input-field">
	                <input type="text" name="subject" autocomplete="off" spellcheck="false" required>
	                <label>Subject</label>
	            </div>
	            <div class="input-field">
	                <textarea rows="5" name="message" autocomplete="off" spellcheck="true" required></textarea>
	                <label>Message</label>
	            </div>
	            <input type="submit" value="Send Message" class="submit-btn">
	        </form>
    	</div>

    </div>

    <div class="relative-content">

        {% include "footer.html" %}

    </div>

</body>

</html>
