---
currentPage: home
permalink: index.html
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rwanda Coding Academy</title>
    <meta name="author" content="Ahadi Habib Josue">
    <meta name="description" content="We are a special model school incepted by the Government of Rwanda to teach Software Development, Embedded Systems Programming, and Cyber-Security...">
    <link rel="icon" type="image/png" href="images/badge.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.3.1/css/all.min.css">
    <link rel="stylesheet" href="styles/styles.css">

</head>

<body>
    {% include "header.html" %}

    <div class="banner">
        <div id="showcase">
            <div class="container">
                <h1>Welcome To RCA</h1>
                <p>We are a special model school incepted by the Government of Rwanda to teach Software Development, Embedded Systems Programming, and Cyber-Security...
                </p>
                <img class="hero-logo" src="images/school-badge.png" alt="Rwanda Coding Academy badge">
                <q class="motto">Leading Through Digital Innovation</q>
                <a class="read-more" href="about.html#about-us">Read More</a>
            </div>
        </div>
    </div>

    <div class="relative-content">
        <div id="boxes">
            <div class="containers">

                <!-- target attribute used below specifies where to open the link(either in a new tab or window). If you don't use it the link will open in the current tab -->
                <h2>Welcome To Rwanda Coding Academy - The First Coding School In Rwanda</h2>

                <div class="gallery-grid">
                    <div class="box"><img src="images/parents.jpg" alt="Parents at Rwanda Coding Academy"></div>
                    <div class="box"><img src="images/image-5.jpg" alt="Rwanda Coding Academy community"></div>
                    <div class="box"><img src="images/image-2.jpg" alt="Rwanda Coding Academy students"></div>
                    <div class="box"><img src="images/students.jpg" alt="Students at Rwanda Coding Academy"></div>
                    <div class="box"><img src="images/image-1.jpg" alt="Rwanda Coding Academy campus"></div>
                    <div class="box"><img src="images/RCA.jpg" alt="Rwanda Coding Academy school building"></div>
                </div>
                <div class="well-image">
                    <img src="images/image-6.jpg" alt="class-image">
                </div>
            </div>
        </div>


        {% include "footer.html" %}

    </div>

</body>

</html>
